name: check-book

on: pull_request

jobs:
  check-book:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        pip install -r requirements-deploy.txt

    - name: Build the book
      run: |
        jupyter-book build docs

